a {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
}

ul, li {
    list-style: none;
}

.note-box {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}

.folder-box {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    display: block;
}

.folder-list {
    width: fit-content;
}

.active {
    background-color: cadetblue;
}